# Hyperledger Explorer Configuration for Real Estate Network

networks:
  fabric_net:
    external: true
    name: fabric_real_estate_net

services:
  explorerdb.mynetwork.com:
    image: hyperledger/explorer-db:latest
    container_name: explorerdb.mynetwork.com
    hostname: explorerdb.mynetwork.com
    environment:
      - DATABASE_DATABASE=fabricexplorer
      - DATABASE_USERNAME=hppoc
      - DATABASE_PASSWORD=password
    healthcheck:
      test: "pg_isready -h localhost -p 5432 -q -U postgres"
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - explorerdb:/var/lib/postgresql/data
    networks:
      - fabric_net

  explorer.mynetwork.com:
    image: hyperledger/explorer:latest
    container_name: explorer.mynetwork.com
    hostname: explorer.mynetwork.com
    environment:
      - DATABASE_HOST=explorerdb.mynetwork.com
      - DATABASE_DATABASE=fabricexplorer
      - DATABASE_USERNAME=hppoc
      - DATABASE_PASSWORD=password
      - LOG_LEVEL_APP=info
      - LOG_LEVEL_DB=info
      - LOG_LEVEL_CONSOLE=debug
      - LOG_CONSOLE_STDOUT=true
      - DISCOVERY_AS_LOCALHOST=false
    volumes:
      - /opt/fabric/fabric-real-estate-network/explorer/config.json:/opt/explorer/app/platform/fabric/config.json
      - /opt/fabric/fabric-real-estate-network/explorer/connection-profile:/opt/explorer/app/platform/fabric/connection-profile
      - /opt/fabric/fabric-real-estate-network/organizations:/tmp/crypto
    ports:
      - 8080:8080
    depends_on:
      explorerdb.mynetwork.com:
        condition: service_healthy
    networks:
      - fabric_net

volumes:
  explorerdb:
